.Projects {
  padding: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start (left) */
  gap: 20px; /* Maintain spacing between project items */
}

.project {
  background: none;
  padding: 20px;
  border-radius: 0;
  width: calc(33.333% - 20px); /* Set width to create 3 columns, accounting for gap */
  max-width: 300px;
  text-align: left; /* Align text to the left */
  box-shadow: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h3 {
  color: #0c0b0b;
  margin-bottom: 15px;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project li {
  list-style: none;
  text-align: left;
  padding: 0;
}

@media (max-width: 768px) {
  .project {
    width: calc(50% - 20px); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .project {
    width: 100%; /* Full width on very small screens */
  }
}
